# NLP Problems Step by Step
https://blog.insightdatascience.com/how-to-solve-90-of-nlp-problems-a-step-by-step-guide-fda605278e4e

In [8]:
import nltk
import pandas as pd
import re 
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Data Import and Description

Positive = 5
Negative = 1

## Format the Data

In [54]:
os.chdir('C:\\Users\\Harrison\\Desktop\\APT')
df = pd.read_csv('apple.csv', encoding='latin-1')
df = df.drop(['_golden', '_unit_state', '_trusted_judgments', '_last_judgment_at','id', 'query','sentiment_gold', 'date'], axis =1)
df = df[df['sentiment']!='3']
df = df[df['sentiment']!='not_relevant']
df.sentiment.value_counts()



def encode(x):
    if x == '1':
        x=0
        return x
    else:
        x='1'
        return x
df.sentiment =df.sentiment.apply(encode)
df.head()

,_unit_id,sentiment,sentimentconfidence,text
6,623495519,1,0.8468,Top 3 all @Apple #tablets. Damn right! http://...
7,623495520,1,0.6736,CNBCTV: #Apple's margins better than expected?...
10,623495523,0,1.0000,WTF MY BATTERY WAS 31% ONE SECOND AGO AND NOW ...
13,623495526,1,1.0000,RT @peterpham: Bought my @AugustSmartLock at t...
14,623495527,0,1.0000,@apple Contact sync between Yosemite and iOS8 ...

In [66]:
df.sentiment.value_counts()

0    1219
1     423
Name: sentiment, dtype: int64

In [65]:
df.sentiment.describe()

count     1642
unique       2
top          0
freq      1219
Name: sentiment, dtype: int64

## Clean the Data

In [67]:
from sklearn.model_selection import train_test_split

def standardize_text(df, text_field):
    df[text_field] = df[text_field].str.replace(r"http\S+", "")
    df[text_field] = df[text_field].str.replace(r"http", "")
    df[text_field] = df[text_field].str.replace(r"@\S+", "")
    df[text_field] = df[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
    df[text_field] = df[text_field].str.replace(r"@", "at")
    df[text_field] = df[text_field].str.lower()
    return df

df = standardize_text(df, 'text')
df.head()

,_unit_id,sentiment,sentimentconfidence,text
6,623495519,1,0.8468,top 3 all tablets damn right!
7,623495520,1,0.6736,cnbctv apple's margins better than expected?...
10,623495523,0,1.0000,wtf my battery was 31 one second ago and now ...
13,623495526,1,1.0000,rt bought my at the store pretty good logo...
14,623495527,0,1.0000,contact sync between yosemite and ios8 is ser...

In [71]:
X = df.text
y = df.sentiment
print(X.shape, y.shape)

(1642,) (1642,)

##  Data Tokenization